.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

h1 {
  margin: 0;
}

.inpuNb {
  font-size: 40px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #8995ae;
  margin-top: 50px;
  text-align: center;
  color: #282c34;
}

.btn {
  font-size: 30px;
  padding: 20px;
  border-radius: 20px 40px 20px 40px;
  margin: 10px;
  background-color: #566b96;
  border: none;
  color: white;
}

.select {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: #566b96;
  border: none;
  color: white;
}
