body {
    background-color: rgb(42, 42, 42);
    font-family: "Helvetica Neue";
    color: white;
    text-align: center;
}

.container {
  border: 3px solid white;
  border-radius: 15px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

p {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

#spinner {
  font-size: 80px;
  margin-top: 80px;
}