
body {
    background-color: black;
    
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
    
    font-family: "Helvetica Neue";
    color: yellow;
    text-align: center;
}

#spinner {
  font-size: 80px;
  margin-top: 80px;
}

img {
    width: 400px;
    margin: 50px 0;
}

.container {
  border: 3px solid yellow;
  border-radius: 15px;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  margin-top: -25px;
}

#btn {
  margin-top: 20px;
  border: 3px solid yellow;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(42, 42, 42);
  color: yellow;
}

#name {
  color: white;

  font-size: 30px;
}

#height {
  color: white;
  font-size: 20px;
}

#gender {
  color: white;
  font-size: 20px;
}

#birth-year {
  color: white;
  font-size: 20px;
}

#home-world {
  color: white;
  font-size: 20px;
}

p {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
