.paragraph {
    font-size: 32px;
    color: white;
    background-color: darkslategray;
    width: 75%;
    text-align: center;
    margin: auto;
    border: thick dotted white;
    box-shadow: 0px 0px 50px black;
}

.laFronce {
    margin: auto;
    width: 608px;
    height: 300px;
}

.colored {
    display: inline-block;
    height: 100%;
    margin: 0;
    width: 200px;
    margin: -2px;
    margin-top: 22px;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.exercice5 div:first-of-type ul li:nth-child(2) {
    color: blue;
}

.exercice5 div:first-of-type ul li  {
    text-transform: uppercase;
}

.exercice5 div:nth-child(2) p:first-of-type {
    background-color: pink;
    color: white;
}

.exercice5 div:nth-child(2) p:nth-of-type(2) {
    background-color: blue;
    padding: 10px;
    margin: auto;
}